In [1]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix('.txt').split('-')

In [2]:
name, age

('Abi', '10')

In [3]:
distance, stroke

('100m', 'Back')

In [4]:
import os


FOLDER = "../swimdata/"

files = os.listdir(FOLDER)
# files.remove('.DS_Store')

In [5]:
first = files[0]
print(first)

name, age, _, _ = first.removesuffix('.txt').split('-')
name, age

Abi-10-100m-Back.txt

('Abi', '10')

In [6]:
# Don't be tempted to do this (i.e., don't use an f-string here).
SQL = f"""
    INSERT INTO swimmers (name, age) VALUES ('{name}', {age});
"""

print(SQL)

    INSERT INTO swimmers (name, age) VALUES ('Abi', 10);

In [7]:
import DBcm


db_details = "CoachDB.sqlite3"

In [8]:
SQL_INSERT = """
    INSERT INTO swimmers (name, age) VALUES (?, ?);
"""

print(SQL_INSERT)

    INSERT INTO swimmers (name, age) VALUES (?, ?);

In [9]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age,))

In [10]:
SQL = """
    SELECT * FROM swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[(1, 'Abi', 10)]

In [11]:
SQL = """
    DELETE FROM swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [12]:
SQL = """
    SELECT * FROM swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[]

In [13]:
SQL = """
    DELETE FROM swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [14]:
import os
import DBcm


db_details = "CoachDB.sqlite3"

FOLDER = "../swimdata/"

files = os.listdir(FOLDER)
# files.remove('.DS_Store')

SQL_INSERT = """
    INSERT INTO swimmers (name, age) VALUES (?, ?);
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix('.txt').split('-')
        db.execute(SQL_INSERT, (name, age,))

In [15]:
SQL = """
    DELETE FROM swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [16]:
import os
import DBcm


db_details = "CoachDB.sqlite3"

FOLDER = "../swimdata/"

files = os.listdir(FOLDER)
# files.remove('.DS_Store')

SQL_SELECT = """
    SELECT * FROM swimmers WHERE name = ? and age = ?;
"""

SQL_INSERT = """
    INSERT INTO swimmers (name, age) VALUES (?, ?);
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix('.txt').split('-')
        db.execute(SQL_SELECT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [17]:
import os
import DBcm


db_details = "CoachDB.sqlite3"

FOLDER = "../swimdata/"

files = os.listdir(FOLDER)
# files.remove('.DS_Store')

SQL_SELECT = """
    SELECT * FROM events WHERE distance = ? and stroke = ?;
"""

SQL_INSERT = """
    INSERT INTO events (distance, stroke) VALUES (?, ?);
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix('.txt').split('-')
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [18]:
SQL = """
    SELECT * FROM events
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[(1, '100m', 'Back'),
 (2, '100m', 'Breast'),
 (3, '50m', 'Back'),
 (4, '50m', 'Breast'),
 (5, '50m', 'Free'),
 (6, '100m', 'Free'),
 (7, '200m', 'Back'),
 (8, '100m', 'Fly'),
 (9, '50m', 'Fly'),
 (10, '200m', 'IM'),
 (11, '200m', 'Breast'),
 (12, '200m', 'Free'),
 (13, '400m', 'Free')]

In [19]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info(times);")
    results = db.fetchall()

results

[(0, 'swimmer_id', 'INTEGER', 1, None, 0),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'VARCHAR(16)', 1, None, 0),
 (3, 'ts', 'TIMESTAMP', 0, 'CURRENT_TIMESTAMP', 0)]

In [20]:
SQL = """
    SELECT * FROM events
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[(1, '100m', 'Back'),
 (2, '100m', 'Breast'),
 (3, '50m', 'Back'),
 (4, '50m', 'Breast'),
 (5, '50m', 'Free'),
 (6, '100m', 'Free'),
 (7, '200m', 'Back'),
 (8, '100m', 'Fly'),
 (9, '50m', 'Fly'),
 (10, '200m', 'IM'),
 (11, '200m', 'Breast'),
 (12, '200m', 'Free'),
 (13, '400m', 'Free')]

In [21]:
SQL = """
    SELECT * FROM swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[(62, 'Abi', 10),
 (63, 'Ali', 12),
 (64, 'Alison', 14),
 (65, 'Aurora', 13),
 (66, 'Bill', 18),
 (67, 'Blake', 15),
 (68, 'Calvin', 9),
 (69, 'Carl', 15),
 (70, 'Chris', 17),
 (71, 'Darius', 13),
 (72, 'Dave', 17),
 (73, 'Elba', 14),
 (74, 'Emma', 13),
 (75, 'Erika', 15),
 (76, 'Hannah', 13),
 (77, 'Katie', 9),
 (78, 'Lizzie', 14),
 (79, 'Maria', 9),
 (80, 'Mike', 15),
 (81, 'Owen', 15),
 (82, 'Ruth', 13),
 (83, 'Tasmin', 15)]

In [22]:
import os


FOLDER = "../swimdata/"

files = os.listdir(FOLDER)
# files.remove('.DS_Store')

In [23]:
import DBcm


db_details = "CoachDB.sqlite3"

In [24]:
SQL_GET_SWIMMER = """
    SELECT id FROM swimmers WHERE name = ? and age = ?;
"""

In [25]:
SQL_GET_EVENT = """
    SELECT id FROM events WHERE distance = ? and stroke = ?;
"""

In [26]:
SQL_INSERT = """
    INSERT INTO times (swimmer_id, event_id, time) VALUES (?, ?, ?);
"""

In [27]:
SQL = """
    DELETE FROM times
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [28]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER+fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT, (s_id, e_id, t,))

In [29]:
SQL = """
    SELECT COUNT(*) FROM times
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()[0]

results

(338,)

In [30]:
SQL = """
    SELECT * FROM times LIMIT 10
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[(62, 1, '1:31.59', '2024-04-26 12:30:45'),
 (62, 1, '1:26.55', '2024-04-26 12:30:45'),
 (62, 1, '1:28.75', '2024-04-26 12:30:45'),
 (62, 1, '1:39.79', '2024-04-26 12:30:45'),
 (62, 1, '1:32.37', '2024-04-26 12:30:45'),
 (62, 2, '1:42.97', '2024-04-26 12:30:45'),
 (62, 2, '1:43.31', '2024-04-26 12:30:45'),
 (62, 2, '1:43.50', '2024-04-26 12:30:45'),
 (62, 2, '1:40.34', '2024-04-26 12:30:45'),
 (62, 3, '41.50', '2024-04-26 12:30:45')]